# Dependencies
node_modules/
.pnp
.pnp.js

# Production and build outputs
dist/
dist-ssr/
build/
.output/
.vinxi/
.tanstack/**
.nitro/
*.local

# Test & Coverage reports
coverage/
*.lcov

# Environment variables & secrets
.env
.env.*
!.env.example
!.env.template

# Cloudflare & Serverless
.wrangler/
.dev.vars

# Agent and IDE configs
.agents/*
!.agents/skills/
.vscode/*
!.vscode/extensions.json
.idea/

# OS-specific files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

